@font-face {
  font-family: Vazir;
  font-style: bold;
  font-weight: 900;
  src: url("./Vazir-Bold-FD-WOL.ttf");
}

@font-face {
  font-family: Vazir;
  font-style: semi-bold;
  font-weight: 700;
  src: url("./Vazir-FD-WOL.ttf");
}

@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: 500;
  src: url("./Vazir-Light-FD-WOL.ttf");
}

@font-face {
  font-family: Vazir;
  font-style: medium;
  font-weight: 600;
  src: url("./Vazir-Medium-FD-WOL.ttf");
}

@font-face {
  font-family: Vazir;
  font-style: thin;
  font-weight: 400;
  src: url("./Vazir-Thin-FD-WOL.ttf");
}
